mat-card-subtitle{
    margin-top:15px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 25px;
}

mat-form-field{
    width: 100%;
    margin: 15px;
    margin-bottom: 5px;
}

.text{
    margin-left: 10%;
    text-align: center;           /* Centra el texto dentro del contenedor */
}

.btnAceptar{
    margin-right: 5px;
}

.mat-mdc-button:not(:disabled) {
    color: white;
}

p{
    font-size: 18px;
    margin-left: 20px;
    margin-bottom: 2%;
}

/* Tablets pequeñas y móviles grandes (768px) */
@media (max-width: 768px) {
    mat-card-subtitle {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 3px;
    }
    
    mat-form-field {
        margin-bottom: 12px;
    }
    
    p {
        font-size: 14px;
        margin-left: 10px;
        margin-bottom: 1.5%;
    }
    
    .btnAceptar {
        margin-right: 3px;
    }
}

/* Móviles pequeños (480px) */
@media (max-width: 480px) {    
    mat-form-field{
        width: 100%;
        margin: 5px;
        margin-top: 17px;
        margin-bottom: 10px;
    }
    
    p {
        font-size: 13px;
        margin-left: 8px;
        margin-bottom: 1%;
        text-align: justify;
    }
    
    /* Para grupos de botones en móviles */
    .button-group {
        display: flex;
        flex-direction: column;
    }
    
    .button-group button {
        width: 100%;
        margin-bottom: 8px;
        margin-right: 0; /* Elimina el margen derecho en disposición vertical */
    }
    
    /* Ajuste específico para el botón Aceptar */
    .btnAceptar {
        margin-right: 0;
        margin-bottom: 8px;
    }

    mat-card-subtitle {
        font-size: 1.2rem; /* 19.2px basado en 16px */
        margin-top: 10px;
        margin-bottom: 3px;
        padding: 0 10px;
        line-height: 1.5;
    }
    
    .logoMenu{
        margin:2px;
        width: 100px;
        align-items: left;
    }

    .text{
        font-size: 16px;
        margin-left: 30%;
        flex-grow: 1;
    }
    
    .mat-mdc-button{
        font-size: 11px;
        margin: 1px;
    }
}